#page-home {
  .sub-nav {
    margin-bottom: 24px;

    .tab-nav {
      padding: 4px;
      cursor: pointer;
      text-align: center;

      &.tab-active {
        color: var(--royal-blue);
      }
      &:hover {
        color: var(--royal-blue);
      }
    }
  }

  .all-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 12px;

    .card-movie {
      background-color: var(--black-light);
      box-shadow: 0px 0 5px 0px rgba(255, 255, 255, 0.5);
      width: 100px;
      border-radius: 8px;
      align-self: stretch;

      img.poster {
        width: 100px;
        height: 150px;
        object-fit: fill;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .card-body {
        padding: 12px 8px;

        .block-title {
          .title-movie {
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #page-home {
    .sub-nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 24px;

      .tab-nav {
        padding: 12px;
        border-bottom: 3px solid #fff;

        &.tab-active {
          border-bottom-color: var(--royal-blue);
          color: var(--royal-blue);
        }
        &:hover {
          border-bottom-color: var(--royal-blue);
          color: var(--royal-blue);
        }
      }
    }
    .all-movies {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 16px;

      .card-movie {
        width: 150px;

        img.poster {
          width: 150px;
          height: 225px;
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #page-home {
    .all-movies {
      grid-template-columns: repeat(5, 1fr);
      row-gap: 20px;

      .card-movie {
        width: 200px;

        img.poster {
          width: 200px;
          height: 300px;
        }
      }
    }
  }
}
